@import url('https://fonts.googleapis.com/css2?Roboto&display=swap');

                        

.btn {
    cursor: pointer; border: solid rgb(187, 204, 0); font-family: "system-ui"; font-size: 14px; color: rgb(255, 255, 255); padding: 10px 30px; transition: 2s; width: 140px; box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px; border-radius: 50px; background: linear-gradient(90deg, rgb(0, 102, 204) 0%, rgb(197, 0, 204) 100%);
}


.btn:hover{
    
color: rgb(255, 255, 255);
width: 200px;
background: rgb(0, 102, 204) none repeat scroll 0% 0% / auto padding-box border-box;
border-color: rgb(204, 0, 105);
border-width: 2px;
border-style: solid;
}



.btn1 {
    cursor: pointer;
    border: solid rgb(187, 204, 0);
    font-family: "system-ui";
    font-size: 14px;
    color: rgb(255, 255, 255);
    padding: 10px 30px;
    transition: 2s;
    width: 140px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    background: rgb(168, 53, 191);
    }
    
    .btn1:hover{
    color: rgb(255, 255, 255);
    width: 200px;
    background: rgb(0, 102, 204) none repeat scroll 0% 0% / auto padding-box border-box;
    border-color: rgb(204, 0, 105);
    border-width: 2px;
    border-style: solid;
    }


                        
                            


    .btn3 {
        cursor: pointer; border: solid rgb(187, 204, 0); font-family: "system-ui"; font-size: 14px; color: rgb(255, 255, 255); padding: 10px 30px; transition: 2s; width: 140px; box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px; border-radius: 50px; background: linear-gradient(90deg, rgb(197, 0, 204) 0%, rgb(0, 102, 204) 100%);
    }


    .btn3:hover{
        
color: rgb(255, 255, 255);
width: 200px;
background: rgb(0, 102, 204) none repeat scroll 0% 0% / auto padding-box border-box;
border-color: rgb(204, 0, 105);
border-width: 2px;
border-style: solid;
    }







.btn4 {
    cursor: pointer;
    border: solid rgb(187, 204, 0);
    font-family: "system-ui";
    font-size: 14px;
    color: rgb(255, 255, 255);
    padding: 24px 30px;
    transition: 2s;
    width: 301px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    background: linear-gradient(90deg, rgb(170, 76, 191) 0%, rgb(70, 36, 184) 100%);
    }
    
    .btn4:hover{
    color: rgb(255, 255, 255);
    width: 337px;
    background: rgb(0, 102, 204) none repeat scroll 0% 0% / auto padding-box border-box;
    border-color: rgb(204, 0, 105);
    border-width: 2px;
    border-style: solid;
    }



    .full-width-bar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 24px;
        background-color:black;
        box-sizing: border-box;
      }
      
      .logo {
        display: flex;
        align-items: center; /* Vertically center */
        gap: 8px; /* Space between image and text */
        color: aliceblue;
      }
      
      
      .full-width-bar .text {
        font-size: 18px;
        font-weight: bold;
        color:'white'
      }

      .coin {
       
        display: flex;
        align-items: center; /* Vertically center */
        gap: 8px; /* Space between image and text */
        color: aliceblue;
        /* background: #28e0ed;
        background: linear-gradient(90deg,rgba(40, 224, 237, 1) 0%, rgba(104, 87, 199, 1) 50%, rgba(220, 140, 222, 1) 100%); */
        flex-wrap: wrap;
        justify-content: center;
        
      }
      
      .bottom{
        margin-top: 10%;
        margin-left: 70%;
      }
      .events{
        display: flex;
        justify-content: center;
        gap:2em;
        flex-wrap: wrap;

      }

      .button-85 {
        width: 250px; /* Increased width */
        height: 70px; /* Increased height */
        font-size: 1.2rem; /* Bigger text */
        border: none;
        outline: none;
        color: rgb(255, 255, 255);
        background: #111;
        cursor: pointer;
        position: relative;
        z-index: 0;
        border-radius: 10px;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
      }
      
      .button-85:before {
        content: "";
        background: linear-gradient(
          45deg,
          #ff0000,
          #ff7300,
          #fffb00,
          #48ff00,
          #00ffd5,
          #002bff,
          #7a00ff,
          #ff00c8,
          #ff0000
        );
        position: absolute;
        top: -2px;
        left: -2px;
        background-size: 400%;
        z-index: -1;
        filter: blur(5px);
        -webkit-filter: blur(5px);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowing-button-85 20s linear infinite;
        transition: opacity 0.3s ease-in-out;
        border-radius: 10px;
      }
      
      @keyframes glowing-button-85 {
        0% {
          background-position: 0 0;
        }
        50% {
          background-position: 400% 0;
        }
        100% {
          background-position: 0 0;
        }
      }
      
      .button-85:after {
        z-index: -1;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: #222;
        left: 0;
        top: 0;
        border-radius: 10px;
      }
      